@font-face {
  font-family: "Cormorant Garamond Medium Regular";
  src: url("/fonts/cormorantgaramond-medium-webfont.woff2") format("woff2"),
        url("/fonts/cormorantgaramond-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond SemiBold Regular";
  src: url("/fonts/cormorantgaramond-semibold-webfont.woff2") format("woff2"),
        url("/fonts/cormorantgaramond-semibold-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant Garamond SemiBold Regular";
  font-size: 20px;
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper {
  display: flex;
  justify-content: center;
  
}

.inner {
  width: 30%;
  padding-top: 50px;
}

.title {
  margin-bottom: 20px;
  font-family: "Cormorant Garamond Medium Regular";
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.list {
  margin-bottom: 20px;
  list-style: none;
}

.list__item {
  padding: 17px 30px;
  margin-bottom: 20px;
  color: black;
  border: 1px solid rgba(0, 0, 0, .4);
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list__item:hover {
  background: rgba(255, 255, 255, .2);
}


.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  position: relative;
  padding: 20px 30px;
  margin-bottom: 20px;
  color: black;
  border: 1px solid rgba(0, 0, 0, .4);
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form__input:hover {
  background: rgba(255, 255, 255, .2);
}

.form__btn {
  align-self: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: black;
  border: 1px solid rgba(0, 0, 0, .4);
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.form__btn:before, .form__btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}

.form__btn:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid rgb(255 248 215);
  border-top: 1px solid rgb(255 248 215);
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.form__btn:after {
  top: 0;
  right: 0;
  border-right: 1px solid rgb(255 248 215);
  border-bottom: 1px solid rgb(255 248 215);
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.form__btn:hover:before, 
.form__btn:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.form__btn:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.form__btn:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.form__btn:hover {
  background: rgba(255, 255, 255, .2);
}

.form__input::-moz-placeholder { color: black; }
.form__input::-webkit-input-placeholder { color: black; }
.form__input::-ms-input-placeholder { color: black; }
.form__input::-ms-input-placeholder { color: black; }
.form__input::placeholder { color: black; } 


.form__input:focus::-webkit-input-placeholder {color: transparent}
.form__input:focus::-moz-placeholder          {color: transparent}
.form__input:focus:-moz-placeholder           {color: transparent}
.form__input:focus:-ms-input-placeholder      {color: transparent}

.list__item {
  position: relative;
}


.list__btn-delete {
  position: absolute;
  right: 5px;
  top: 15px;
  width: 28px;
  height: 28px;
  background-image: url("../img/icon-trash-grey.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
}


.list__btn-delete:hover {
  position: absolute;
  right: 5px;
  top: 15px;
  width: 28px;
  height: 28px;
  background-image: url("../img/icon-trash-black.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
