@font-face {
  font-family: "Cormorant Garamond Medium Regular";
  src: url("/fonts/cormorantgaramond-medium-webfont.woff2") format("woff2"),
        url("/fonts/cormorantgaramond-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cormorant Garamond SemiBold Regular";
  src: url("/fonts/cormorantgaramond-semibold-webfont.woff2") format("woff2"),
        url("/fonts/cormorantgaramond-semibold-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cormorant Garamond SemiBold Regular";
  font-size: 20px;
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper {
  display: flex;
  justify-content: center;
  
}

.inner {
  width: 30%;
  padding-top: 50px;
}

.title {
  margin-bottom: 20px;
  font-family: "Cormorant Garamond Medium Regular";
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.list {
  margin-bottom: 20px;
  list-style: none;
}

.list__item {
  width: 75%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(255 248 215);
}

.form__input {
  width: 75%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(255 248 215);

}


.form__input::-moz-placeholder { color: black; }
.form__input::-webkit-input-placeholder { color: black; }
.form__input::-ms-input-placeholder { color: black; }
.form__input::-ms-input-placeholder { color: black; }
.form__input::placeholder { color: black; } 


.form__input:focus::-webkit-input-placeholder {color: transparent}
.form__input:focus::-moz-placeholder          {color: transparent}
.form__input:focus:-moz-placeholder           {color: transparent}
.form__input:focus:-ms-input-placeholder      {color: transparent}

/* .list__item:hover:before {
  content: "";
  position: absolute;
  right: 15px;
  top: 6px;
  width: 2px;
  height: 18px;
  background-color: black;
  transform: rotate(45deg);
}

.list__item:hover:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 6px;
  width: 2px;
  height: 18px;
  background-color: black;
  transform: rotate(-45deg);
} */

.list__item:hover {

}

